mixin tool-item(url, icon, title)
  li
    .media.media-left
      a.thumbnail.thumbnail-small.thumbnail-rounded(href='/' + url, style='background-color:#9ccc65')        
        i(class='uk-icon-#{icon}')
      .media-body
        h2.h3.entry-title        
          a(href='/' + url) #{title}
        .entry-meta Online Image clipper