extends ./_layout.pug

block title
  h1.h3.hidden-mobile
    block pagetitle

block header_center
  div#placeholder

block header_right
  +adlinks1('ad-container header-right-elem')
  a.button.button-ghost.header-right-elem(href="/") &laquo; All Tools