extends ./_layout.pug

block title
  h1.h3.hidden-mobile
    block pagetitle

block header
  .header-right
    +adlinks1('ad-container header-right-elem hidden-mobile')
    a.button.button-ghost.header-right-elem(href="/") &laquo; All Tools

block footer
  if !hideFooter
    footer.footer
      .container-readable.section.text-center
        +horizontal-menu(data.menu.footer)
        p.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
          br
          | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a>.