extends ./_layout.pug

block styles
  if page.styles
    each style in page.styles
      link(href=style, rel='stylesheet')

block title
  h1.h3.hidden-mobile
    span.hidden-mobile!= page.title

block header-right
  .header-right
    +adlinks1('ad-container header-right-elem')
    a.button.button-ghost.header-right-elem(href="/") &laquo; All Tools

block footer
  if !page.hideFooter
    footer.footer
      .container-readable.section.text-center
        +horizontal-menu(data.menu.footer)
        p.text-small Copyright © <a href="http://kunruchcreations.com/">KunRuch Creations</a>, All rights reserved.
          br
          | Built with <a href="https://mmpilot.kunruchcreations.com/" target="_blank">mmpilot</a>.

block scripts
  if page.scripts
    each script in page.scripts
      script(src=script)