extends ./_layout-root.pug
block header
  header.header
    .container
      .header-left
        a(href='https://superdevresources.com/').site-branding
          img(src="/img/sdr-logo-light.png")
        block title
      block header-right

block content
  != page.content
