extends ./../../../common/_layouts/_layout-tools.pug

block vars
  - var title = 'Markdown Writer Online'
  - var description = 'Online Markdown Editor for writing in markdown with real-time preview.'
  - var hideFooter = true

block styles
  link(href='styles/markdown-writer.css', rel='stylesheet')

block pagetitle
  span.hidden-mobile Markdown Writer

block content
  .editor-container
    #editor
      textarea(:value="input", @input="update")
      div.editor-out(v-html="compiledMarkdown")

block scripts
  script(src='https://unpkg.com/marked@0.3.6')
  script(src='https://unpkg.com/lodash@4.16.0')
  script(src='https://unpkg.com/vue@2.0.3/dist/vue.js')
  script(src='scripts/markdown-writer.js')