extends ./../../../common/_layouts/_layout-tools.pug

block vars
  - var title = 'Image Cropper Online'
  - var description = 'Free Online Image Cropping Tool using HTML Canvas. Download cropped image in JPG or PNG format.'

block styles
  link(href='https://unpkg.com/cropperjs@0.8.1/dist/cropper.min.css', rel='stylesheet')  
  link(href='styles/image-cropper.css', rel='stylesheet')

block pagetitle
  span.hidden-mobile Image Cropper

block content
  #drop-target
    #wrapper.container.section
      #content-wrapper
        #content
          .container-readable
            #click-target
              input(type='file' id="fileUpload")
              #load-prompt Drag and Drop image anywhere or Click here
            .canvas-container
              img#myimage
            .section
              .card
                h2.h3.card-title Instructions
                .card-body
                  ul.divider
                    li Drag and drop image from your local system to the canvas above
                    li Use the Aspect Ratio options to choose aspect ratio of Crop Tool
                    li You can increase the Crop Tool size by dragging the corners and edges
                    li Move the crop tool by holding the mouse button over it and dragging
                    li Once you have selected the desired area, choose to export either JPG (optimized for small size) or PNG (high-quality)
                    li We do not store your images as everything is done client side.
      #sidebar
        .card
          h3.h4.card-title Image Dimesions
          .card-body
            div Width: <span id="img-width">0</span>px<br>Height: <span id="img-height">0</span>px
            button#select-all.button-ghost(type='button') Select All
        .card
          h3.h4.card-title Aspect Ratio
          .card-body
            form(name='aspectform')
              input(type='radio', name='aspectratio', value='Free', checked='')
              |  Free
              input(type='radio', name='aspectratio', value='16:9')
              |  16:9
              input(type='radio', name='aspectratio', value='4:3')
              |  4:3
        .card
          h3.h4.card-title Download
          .card-body
            button#jpg-download(type='button', class='button-primary') JPG
            button#png-download(type='button', class='button-primary') PNG
        .card
          h3.h4.card-title Credits
          .card-body
            ul.divider
              li
                a(href='https://github.com/fengyuanchen/cropperjs', target='_blank') CropperJS
                |  - JavaScript image cropper
              li
                a(href='https://github.com/rndme/download', target='_blank') download.js
                |  - Client-side file downloading using JS and HTML5 by dandavis
              li
                a(href='https://mmcss.kunruchcreations.com/', target='_blank') MMCSS
                |  - A minimal modern CSS framework for building beautiful websites
block scripts
  script(src='https://unpkg.com/cropperjs@0.8.1/dist/cropper.min.js')
  script(src='https://unpkg.com/downloadjs@1.4.6/download.min.js')
  script(src='scripts/image-cropper.js')
