body, html {
  background: $global-body-color;
  font-family: $base-body-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $base-heading-font-family;
  font-weight: $base-heading-font-weight;
}

a:hover {
  color: $global-link-hover-color;
  text-decoration: none;
  transition: color .2s linear;
}

ins {
  background: transparent;
}

.section {
  padding: 0 15px 15px 15px;
  margin-bottom: $global-grid-gutter;
  background: #fff;
  border: 1px solid $global-border;
  border-radius: $global-border-radius;
  color: $global-color;
  font-size: 1em;

  ul {
    margin: 0;
    padding-left: 0;
    line-height: 1.3;
    list-style: none;

    li {
      margin-top: 8px;
      padding-bottom: 8px;
      border-bottom: 1px dashed #bbb;
    }

    li:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

h3.section-title {
  display: block;
	padding: 12px 15px;
  background: $global-light-color;
  color: $global-heading-color;
  border-bottom: 1px solid $global-border;
  margin: 0 -15px;
  margin-bottom: 10px;
  font-size: 1em;
	line-height: 1;
  text-transform: none;
}
