#wrapper {
  position: relative;
}

#content-wrapper {
  float: left;
  width: 100%;
}

#content {
  margin-right: 320px;
  clear: both;
  overflow: auto;
}

#sidebar {
  position: relative;
  width: 300px;
  margin-left: -300px;
  float: right;
  overflow: hidden;
}

.main-content {
  min-height: 480px;
  padding-top: 25px;
}

.tools-list {

  .uk-panel-box {
    padding: 20px;
  }

  .tm-tool-header-image {
    margin: -20px -20px 0 -20px;
    padding: 50px 25px;
    text-align: center;
  }

  h2 {
    font-size: 20px;
    line-height: 27px;
    margin-top: 12px;
    margin-bottom: 25px;
    color: lighten($global-heading-color, 40);
    font-weight: 400;
    text-align: center;
  }

  i.tm-tool-header-icon {
    font-size: 90px;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    transition: color 0.2s linear;
    margin-bottom: 0;
  }

  a:hover h3 {
    color: $global-link-hover-color;
  }
}

.tm-panel-green {
  background: #37BC9B;
  color: #fff;
}

.tm-panel-red {
  background: #ED5565;
  color: #fff;
}

.tm-panel-lavender {
  background: #967ADC;
  color: #fff;
}

.tm-panel-gray {
  background: #E6E9ED;
  color: #AAB2BD;
}

.site-share-buttons {
  background: $global-body-color;
  text-align: center;
  padding: 50px 10px;

  a {
    position:relative;
    margin: 0 6px;
    color: #fff;
    padding: 12px 15px;
    background: $global-header-color;
    border:solid 1px lighten($global-header-color, 2);
    -webkit-box-shadow: 0px 4px 0px darken($global-header-color, 5);
    -moz-box-shadow: 0px 4px 0px darken($global-header-color, 5);
    box-shadow: 0px 4px 0px darken($global-header-color, 5);
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  }

  a:hover {
    background: lighten($global-header-color, 2);
  }

  a:active {
    -webkit-box-shadow: 0px 2px 0px darken($global-header-color, 5);
     -moz-box-shadow: 0px 2px 0px darken($global-header-color, 5);
     box-shadow: 0px 2px 0px darken($global-header-color, 5);
     position:relative;
     top:2px;
  }

  i {
    padding-right: 6px;
  }

}
