#wrapper {
  position: relative;
}

#content-wrapper {
  float: left;
  width: 100%;
}

#content {
  margin-right: 320px;
  clear: both;
  overflow: auto;
}

#sidebar {
  position: relative;
  width: 300px;
  margin-left: -300px;
  float: right;
  overflow: hidden;
}

.main-content {
  min-height: 480px;
  padding-top: 25px;
}

.tools-list {

  .uk-panel-box {
    padding: 20px;
  }

  .tm-tool-header-image {
    margin: -20px -20px 0 -20px;
    padding: 50px 25px;
    text-align: center;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    margin-top: 12px;
    margin-bottom: 25px;
    color: lighten($global-heading-color, 20);
    font-weight: 400;
    text-align: center;
  }

  i.tm-tool-header-icon {
    font-size: 90px;
    display: block;
    border-radius: 100%;
    margin: 0 auto;
  }

  a {
    text-decoration: none;
  }

  ul {
    padding-left: 0;
    list-style: none;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    transition: color 0.2s linear;
    margin-bottom: 0;

    i {
      margin-right: 8px;
    }
  }

  a:hover h3 {
    color: $global-link-hover-color;
  }
}

.tm-panel-green {
  background: #37BC9B;
  color: #fff;
}

.tm-panel-red {
  background: #ED5565;
  color: #fff;
}

.tm-panel-lavender {
  background: #967ADC;
  color: #fff;
}

.tm-panel-gray {
  background: #E6E9ED;
  color: #AAB2BD;
}

.site-share-buttons {
  background: $global-body-color;
  text-align: center;
  padding: 50px 10px;

  a {
    position:relative;
    margin: 0 6px;
    color: #fff;
    padding: 10px 15px;
    background: $global-light-color;
    line-height: 32px;
    height: 32px;
    border-radius: 4px;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    transition: all 0.1s;
  }

  a:active {
     position: relative;
     top: 3px;
  }

  $facebook-color:    #3b5998;
  $twitter-color:     #55acee;

  a.tm-share-facebook {
    background-color: $facebook-color;
    box-shadow: 0px 5px 0px darken($facebook-color, 5);
  }

  a.tm-share-facebook:hover {
     background-color: lighten($facebook-color, 5);
  }

  a.tm-share-facebook:active {
     box-shadow: 0px 2px 0px darken($facebook-color, 5);
  }

  a.tm-share-twitter {
    background-color: $twitter-color;
    box-shadow: 0px 5px 0px darken($twitter-color, 5);
  }

  a.tm-share-twitter:hover {
     background-color: lighten($twitter-color, 5);
  }

  a.tm-share-twitter:active {
     box-shadow: 0px 2px 0px darken($twitter-color, 5);
  }

  i {
    padding-right: 6px;
  }
}
