.site-footer {
    background: lighten($global-dark-color, 5);
    text-align: center;
    font-size: 13.5px;
    line-height: 20px;
    color: lighten($global-dark-color, 50);

    a {
      color: darken($global-light-color, 10);
    }

    a:hover {
      color: #fff;
    }
}

.tm-mega-footer {
	padding-top: 25px;
	padding-bottom: 0;
}

.tm-mega-footer .tm-follow-us {
  margin-top: 10px;
	margin-bottom: 32px;

  .uk-icon-button {
		background-color: transparent;
		color: #ddd;
    border: none;
    text-shadow: none;
    margin: 2px;

		&:hover {
				color: #fff;
		}
	}
}

.site-footer-menu {

  ul {
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin-bottom: 5px;

      a {
        padding: 0 10px;
        color: darken($global-light-color, 10);
        font-size: 14px;
        line-height: 48px;
      }

      a:hover {
        color: #fff;
      }
    }
  }
}

.site-sub-footer {
  padding: 20px 15px;
  background: $global-dark-color;
  font-size: 12px;
  line-height: 18px;
}
