.site-footer-menu {
  padding-top: 25px;
  background: lighten($global-dark-color, 5);

  ul {
    text-align: center;
    margin-bottom: 0;

    li {
      display: inline-block;
      margin-bottom: 25px;

      a {
        padding: 0 10px;
        color: darken($global-light-color, 10);
      }

      a:hover {
        color: #fff;
      }
    }
  }
}

.site-footer {
    background: $global-dark-color;
    padding: 20px 15px;
    text-align: center;
    font-size: 12.5px;
    line-height: 18px;
    color: lighten($global-dark-color, 50);

    a {
      color: darken($global-light-color, 10);
    }

    a:hover {
      color: #fff;
    }
}
