// Variables modifiers
// ========================================================================

//
// Color
//
$blue-color:                                    #3081B7;
$green-color:                                   #2ac279;
$red-color:                                     #ff6a37;
$yellow-color:                                  #ffcb37;

$global-dark-color:                             #222828;
$global-header-color:                           #fff;
$global-primary-color:                          $blue-color;
$global-body-color:                             #f2f2f2;

$global-heading-color:                          #282828;
$global-color: 								                  lighten($global-heading-color, 20);

$global-link-color:                             $blue-color;
$global-link-hover-color:                       $yellow-color;

$global-border:                                 #e4e4e4;
$global-border-radius:							            2px;

$global-primary-background:                     $global-link-color;
$global-success-background:                     $green-color;

$global-grid-gutter:                            20px;
$global-grid-gutter-large:                      20px;

$global-light-color:                            #f8f8f8;

$global-logo-background-color:                  #222828;

$base-body-font-family: 						            "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
$base-heading-font-family: 						          "Roboto", "Helvetica Neue",Helvetica,Arial,sans-serif;
$base-heading-font-weight:                      500;

//
// Breakpoints
//
$breakpoint-small:                              480px;
$breakpoint-medium:                             768px;
$breakpoint-large:                              960px;
$breakpoint-xlarge:                             1220px;

$breakpoint-mini-max:                           ($breakpoint-small - 1);
$breakpoint-small-max:                          ($breakpoint-medium - 1);
$breakpoint-medium-max:                         ($breakpoint-large - 1);
$breakpoint-large-max:                          ($breakpoint-xlarge - 1);
