@import 'variables.scss';

.canvas-container {
  background: #fff;
  margin-bottom: 25px;
  text-align: center;
  font-size:0;
}

#drop-target {
  min-width: 300px;
  max-width: 800px;
  min-height: 300px;
  background: #eee;
  text-align: center;
  font-size:0;
}


input[type="radio"] {
  margin-left: 6px;
}
