@import 'variables.scss';

#drop-target {
  min-width: 300px;
  max-width: 800px;
  min-height: 300px;
  display: inline-block;
  background: #fff;
  text-align: center;
  font-size:0;
}

#tools {
  display: inline-block;
  color: #fff;
  float: right;
  text-align: left;
  width: 300px;
  margin-left: 10px;
}

input[type="radio"] {
  margin-left: 6px;
}
