@import 'variables.scss';

body, html {
  background: $global-background-color;
}

.tools-head {
  height: 60px;
  background: $global-header-color;
}

.tools-head h1 {
  line-height: 60px;
  font-size: 18px;
  margin: 0 auto;
  text-align: center;
  color: $global-text-on-background-color;
  text-transform: uppercase;
}

a.head-home {
  color: $global-text-on-background-color;
  font-size: 14px;
  line-height: 48px;
  margin: 6px 25px;
  text-transform: uppercase;
  text-decoration: none;
}

a.head-home i {
  margin-right: 6px;
}

.tools-head img {
  margin: 6px 25px;
  line-height: 48px;
  height: 48px;
}

.tools-list {
  .uk-panel-box {
    padding: 0;
  }

  h2 {
    width: 100%;
    padding: 15px 0;
    margin-bottom: 0;
    text-align: center;
    font-weight: bold;
  }

  i {
    font-size: 60px;
    display: block;
    padding: 15px;
    background: #aaa;
    border-radius: 100%;
    width: 60px;
    margin: 15px auto;
  }

  a {
    text-decoration: none;
  }
}

i.icon-green {
  background: #d2ebb7;
  color: #8CC152;
}


i.icon-gray {
  background: #E6E9ED;
  color: #AAB2BD;
}
