extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Design Tools for Independent Developers and Startups'
  - var description = 'Free Design Tools for Web and App Developers by Super Dev Resources Team'

block toollist
   +listtools(data.tools.design, 'design')