extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Development Tools'
  - var description = 'Free Development Tools for Web and App Developers by Super Dev Resources Team'

block toollist
  +listtools(data.tools.development, 'development')
