extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Development Tools for Independent Developers and Startups'
  - var description = 'Free Development Tools for Web and App Developers by Super Dev Resources Team'

block toollist
  +listtools(data.tools.development, 'development')
