extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Tools for Independent Developers and Startups'
  - var description = 'Free design, development and marketing tools for web and app developers by Super Dev Resources team'
                
block toollist
  +listtools(data.tools.all)
