extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Tools for Developers'
  - var description = 'Free design, development and marketing tools for web and app bevelopers by Super Dev Resources team'
                
block toollist
  +listtools(data.tools.all)
