extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Tools for Developers'
  - var description = 'Free Tools for Web and App Developers by Super Dev Resources Team'
                
block toollist
  +listtools(data.tools.all)
