extends ./_layouts/_layout-main.pug

block vars
  - var title = 'Marketing Tools'
  - var description = 'Free Marketing Tools for Web and App Developers by Super Dev Resources Team'

block toollist
  +listtools(data.tools.marketing, 'marketing')
