---
title: 'Word Counter Online'
description: 'Online Word Counter for counting words, characters, sentences and paragraphs in a text.'
layout: 'tools'
styles:
  - 'styles/word-counter.css'
scripts:
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'scripts/readablity.js'
  - 'scripts/word-counter.js'
---

#app.container-content.section
  .gird
    .one-half
      textarea(:value="input", @input="update", placeholder="Enter text here..")
    .one-half
      ul.out
        li Words: {{ words }}
        li Characters: {{ chars }}
        li Whitespaces: {{ whitespaces }}
        li Sentences: {{ sentences }}
        li Paragraphs: {{ paragraphs }}
        li Reading Time: {{ readingTime }}
        li Readablity Index: {{ readablityIndex }}
        li {{ suitableFor }}