#wrapper {
  position: relative;
}

#content-wrapper {
  float: left;
  width: 100%;
}

#content {
  margin-right: 320px;
  clear: both;
  overflow: auto;
}

#sidebar {
  position: relative;
  width: 300px;
  margin-left: -300px;
  float: right;
  overflow: hidden;
  font-size: 90%;
}