ul.sdr-list {
  list-style: none;
  padding: 0;
  min-height: 400px;

  li {
    margin-bottom: 2rem;
  }

  .entry-title {
    font-size: 21px;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .entry-content {
    color: lighten($color-text, 20);
  }
}

.sdr-list-search {
  input[type="search"] {
    font-weight: 300;
    margin: 0;
    margin-bottom: 0.5rem;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #f2f2f2;
    transition: border-color 0.30s ease-in-out;
  }

  input[type="search"]:active, input[type="search"]:focus {    
    border-bottom: 1px solid $color-primary;
  }
}

@include mobile {
  ul.sdr-list .entry-title {
    font-size: 18px;
  }
}