.card {
  background: #fff;
  border-radius: 5px;
}

.card + .card {
  margin-top: $size-element-spacing;
}

.card .card-title {
  margin: 0;
  line-height: 1;
  padding: 16px 16px 8px;
}

.card .card-body {
  padding: 16px;
}

.card-body > ul {
    margin: 0;
    padding-left: 0;
    line-height: 1.3;
    list-style: none;
}

.card-body > ul.divider li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #bbb;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
}