extends ./../_layout.jade
include ./../_mixins.jade

block vars
  - var title = 'HTML to Jade Converter Online'
  - var description = 'Free Online HTML to Jade conversion Tool by SDR'
  - var slug = 'html2jade/'
  - var ogimage = 'image-crop-tool.png'
  
block styles
  +vendor-css('codemirror/lib/codemirror.css')
  +style('html-jade')

block pagetitle
  h1 
    i.uk-icon-file-code-o
    | HTML to Jade

block content
  div(class='uk-container uk-container-center')
    div(class='uk-grid uk-grid-small')
      div(class='uk-width-medium-1-2')
        h2.uk-h3 HTML
        textarea#html(name='html', style='display: none;')
          | <!doctype html>
          | <html>
          |   <head>
          |     <link type="text/css" rel="stylesheet" href="/site.css" />
          |     <title>Hello</title>
          |   </head>
          | <body>
          |   <h1>Hello world!</h1>
          | </body>
          | </html>
      div(class='uk-width-medium-1-2')
        h2.uk-h3 Jade
        textarea#jade(name='jade', style='display: none;')
  
block scripts
  +vendor-script('require.js')
  +script('html-jade')
