.editor-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

textarea, textarea:focus {
  border: none;
  border: 1px solid #eee;
}


#json-input,
#json-renderer {
  display: inline-block;
  min-height: 600px;
  margin: 0;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  overflow-y: auto;
}

#json-input {  
  resize: none;
  outline: none;
  float: left;
  width: 40%;
  background-color: #fff;
  font-size: 14px;
  font-family: 'Monaco', courier, monospace;
  padding: 10px 20px;
}

#json-renderer {
  float: right;
  width: 60%;
  font-size: 14px;
  line-height: 1;
  background: #fafafa;
  padding: 10px 20px;
}
