---
title: 'JSON Viewer Online'
description: 'Online JSON data viewer, displays JSON data in tree view and with syntax highlighting and clickable links. Collapse, expand child nodes supported.'
layout: 'tools'
styles:
  - 'https://unpkg.com/jquery.json-viewer@1.1.0/json-viewer/jquery.json-viewer.css'
  - 'styles/json-viewer.css'
scripts:
  - 'http://code.jquery.com/jquery-2.1.3.min.js'
  - 'https://unpkg.com/jquery.json-viewer@1.1.0/json-viewer/jquery.json-viewer.js'
  - 'scripts/json-viewer.js'
---

.container.editor-container
  p.text-muted Paste JSON below or fetch from URL
  #editor.section
    textarea.json-input(autocomplete="off").
      {
        "id": 1001,
        "type": "donut",
        "name": "Cake",
        "description": "http://en.wikipedia.org/wiki/Doughnut",
        "price": 2.55,
        "available": {
          store: 42,
          warehouse: 600
        },
        "topping": [
          { "id": 5001, "type": "None" },
          { "id": 5002, "type": "Glazed" },
          { "id": 5005, "type": "Sugar" },
          { "id": 5003, "type": "Chocolate" },
          { "id": 5004, "type": "Maple" }
        ]
      }
    pre.json-renderer