.canvas-container {
  margin-bottom: 60px;
  text-align: center;
  font-size:0;
  padding: 0;
}

#drop-target {
  display: inline-block;
  background-image: url("../img/canvas-drop.png");
  border: 1px solid #eee;
  min-width: 300px;
  max-width: 1600px;
  min-height: 300px;
  text-align: center;
  font-size:0;
  padding: 0;
  margin: 0;
}


input[type="radio"] {
  margin-left: 6px;
}

.card form {
  margin-top: 0;
}

button + button {
  margin-left: 6px;
}