#wrapper {
  padding-top: 30px;
}

.canvas-container {
  text-align: center;
  font-size:0;
  padding: 0;
  max-width: 100%;
  margin: 0;
}

#click-target {
  display: inline-block;
  border: 3px dashed #999;
  width: 100%;
  height: 450px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;

  #load-prompt {
    display: block;
    padding-top: 212px;
  }
}


input[type="radio"] {
  margin-left: 6px;
}

.card form {
  margin-top: 0;
}

button + button {
  margin-left: 6px;
}