extends ./../../../common/_layouts/_layout.pug

block header_center
  +menu(data.menu.main, 'hidden-mobile')

block header_right
  nav
    ul.menu
      li.menu-item
        a(href="https://superdevresources.com/about/") About
      li.menu-item
        a(href='https://twitter.com/superdevres42', target="_blank", title="Twitter")
          | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
      li.menu-item
        a(href='https://github.com/super-dev/', target="_blank", title="Github")
          | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>