---
title: 'Strong Password Generator'
description: 'Generator strong passwords with alphabets, numbers and special characters or generate password with phrases.'
layout: 'tools'
styles:
  - 'styles/passwordgen.css'
scripts:
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'scripts/passhelp.min.js'
  - 'scripts/passwordgen.js'
---

#app
  .section.container-readable
    h2.h4 Generated Password
    input#password(type="text", v-model="password")
    .text-small.text-muted.text-center
      button.button-ghost(@click='copy') Copy Password
      button.button(@click='count++') Generate Another
    
    label.mt2 Password Type
    <input type="radio" id="strong" value="strong" v-model="type">
    <label class="label-inline" for="strong">Strong Password (Alphanumeric with special characters)</label>
    <br>
    <input type="radio" id="alphanumeric" value="alphanumeric" v-model="type">
    <label class="label-inline" for="alphanumeric">Alphanumeric Password</label>
    <br>
    <input type="radio" id="phrase" value="phrase" v-model="type">
    <label class="label-inline" for="phrase">Phrase Password</label>
    <br>
    <input type="radio" id="phrase_special_chars" value="phrase_special_chars" v-model="type">
    <label class="label-inline" for="phrase_special_chars">Phrase Password with special characters</label>

    label.mt2 Password Length (<span v-html="unit"></span>)
    input(type="number", v-model="length", style="width: 50%;")    