#app {
  .grid {
    border: 1px solid #ddd;
    min-height: 450px;
  }

  textarea {
    min-height: 450px;
    height: 100%;
    margin: 0;
    border: 0;
    resize: none;
  }
  
  .one-half:last-child {
    background: #ebebeb;
    min-height: 450px;
    padding: 1em;
  }

  @media (min-width: 980px) {
    .one-half:first-child {
      width: 70%;
      margin: 0;
    }
    
    .one-half:last-child {
      width: 30%;
    }
  }
}

ul.stats {
  margin-top: 0;
  font-weight: 600;
}

strong.keywords-title {
  font-weight: 600;
}

ul.keywords {
  margin-top: 1em;
  font-weight: bold;
  line-height: 1.2;
}