---
title: 'Color Shades Generator'
description: 'Generate shades of a color online. Enter color in rgb, hex, hsl or hsv and get different shades of the color.'
layout: 'tools'
styles:
  - 'styles/color-shades.css'
  - 'https://unpkg.com/sweetalert@1.1.3/dist/sweetalert.css'
scripts:
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'https://unpkg.com/tinycolor2@1.4.1/dist/tinycolor-min.js'
  - 'https://unpkg.com/sweetalert@1.1.3/dist/sweetalert.min.js'
  - 'scripts/color-shades.js'
---

#app.section
  .container-readable
    h2.h3 Enter Color
    .clearfix
      #color-container
        #user-input
          input#color(type="text", v-model="color")
          p.text-small.text-muted Example: #808080 or rgb(128, 128, 128) or gray or <button class="button-ghost" @click='random'>Random</button>
        .color-preview(:style="previewStyleIn")
  div(v-if="color.length > 0").section.container-content.animated.fadeIn
    h2.h4.text-center Color Shades
    ul#color-shades
      li(v-for="(shade, index) in shadesMonochrome")
        div.color-shade(:style="shade", @click="selectedIndex = index")
    p.text-small.text-muted.text-center Select color shade above and then click to copy value in desired type below
    div.container-readable.grid
      #color-out.one-half
        div
          label HEX 
          input(type="text", v-model="colorOut.hex", @click="copy(colorOut.hex, $event)")              
        div
          label RGB
          input(type="text", v-model="colorOut.rgb", readonly="readonly", @click="copy(colorOut.rgb, $event)")              
        div
          label HSL
          input(type="text", v-model="colorOut.hsl", readonly="readonly", @click="copy(colorOut.hsl, $event)")           
        div
          label hsv
          input(type="text", v-model="colorOut.hsv", readonly="readonly", @click="copy(colorOut.hsv, $event)")
      #color-out-preview.one-half
        .color-preview(:style="previewStyleOut")
        div.text-small.text-muted Selected Color
.container-readable
  h2.h3 How to Generate Shades of a Color?
  ul.divider
    li Enter value of your color in textbox above in any format (RGB, HEX, RGBA, HSL, HSV etc.)
    li Different shades of the color will be generated which you can select to show more details.
    li Click to copy value of selected color shade in HEX, RGB, HSL or HSV.
    li Value will be copied directly to your clipboard.
    li In case your browser does not support copying values directly to clipboard via script then you can do a manual copy.
    li You can use the "Random" button to generate a random starting color for generating shades.
    li You can share the color shades using the URL in address bar as it updates to reflect current color.
    li We do not store any data entered by you and everything is done inside your browser.
  .section-medium.text-small
    h2.h3 Credits
    ul.divider
      li
        a(href='http://vuejs.org/', target='_blank') vue.js
        |  - The Progressive JavaScript Framework
      li
        a(href='https://github.com/bgrins/TinyColor', target='_blank') TinyColor
        |  - Fast, small color manipulation and conversion for JavaScript
      li
        a(href='http://t4t5.github.io/sweetalert/', target='_blank') SweetAlert
        |  - A beautiful replacement for JavaScript's alert
      li
        a(href='https://mmcss.kunruchcreations.com/', target='_blank') MMCSS
        |  - A minimal modern CSS framework for building beautiful websites