@import "sdr/sdr";

.header-right {  
  .ad-container {
    width: 478px;
    max-width: 478px;
  }
}

@include desktop {
  .header-right-elem {
    display: inline-block;
  }

  .header-right-elem + .header-right-elem {
    margin-left: 24px;
  }
}

ul.divider {
  padding-left: 0;
  line-height: 1.3;
  list-style: none;
  
  li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #bbb;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}


input[type="text"] {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
}
