@import "sdr/sdr";

.header-right {  
  .ad-container {
    width: 478px;
    max-width: 478px;
    display: block;
    float: left;
    padding: 11px 0;
    line-height: 30px;
  }
}

@include mobile {
  .header-right {  
    .ad-container {
      display: none;
    }
  }
}

@include desktop {
  .header-right-elem {
    display: inline-block;
  }

  .header-right-elem + .header-right-elem {
    margin-left: 24px;
  }
}

ul.tools-categories-menu {
  font-size: 90%;

  li {
    margin: 0;
    line-height: 28px;
  }

  li a {
    display: block;
    width: 100%;
    opacity: 0.6;
    padding: 3px 20px 3px 0;
    line-height: 24px;

    svg {
      margin-right: 4px;
    }
  }

  li a.current-menu-item, li a:hover {
    text-decoration: none;
    opacity: 1;
  }

  li a.current-menu-item {
    font-size: 110%;
    font-weight: 500;
  }
}

ul.divider {
  padding-left: 0;
  line-height: 1.3;
  list-style: none;
  
  li {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px dashed #bbb;

    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}


input[type="text"] {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #f2f2f2;
}
