---
title: 'Dummy Text Generator'
description: 'Generate Dummy text lorem ipsum and alternatives in HTML, markdown and plain text'
layout: 'tools'
styles:
  - 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/default.min.css'
  - 'styles/dummy-text.css'
scripts:
  - 'scripts/lorem.js'
  - 'https://unpkg.com/marked@0.3.6'
  - 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/highlight.min.js'
  - 'https://cdnjs.cloudflare.com/ajax/libs/js-beautify/1.6.11/beautify-html.min.js'
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'scripts/dummy-text.js'
---

#app.container.section-medium
  .grid
    .one-half
      #dummyText
        .buttonGroup.text-center
          button(v-bind:class="[type === 'plain' ? 'button' : 'button-ghost']" @click="changeType('plain')") Plain Text
          button(v-bind:class="[type === 'markdown' ? 'button' : 'button-ghost']" @click="changeType('markdown')") Markdown
          button(v-bind:class="[type === 'html' ? 'button' : 'button-ghost']" @click="changeType('html')") HTML
        .container-readable
          div(v-html='loremText.plain', v-if="type=='plain'")
          div(v-if="type=='markdown'")
            code.markdown(v-html='loremText.markdown', ref="markdownCode")
          div(v-if="type=='html'")
            code.html(v-text='loremText.html', ref="htmlCode")
    .one-half
      #controls
        label(for="generator") Generator
          select#generator(v-model="generator", ref="generatorSelect")
            option(value='lorem') Lorem Ipsum
            option(value='blocks') Blocks

        label(for="words") Number of Words
          input#words(type="number", v-model="words")
        
        label(for="paragraphs") Number of Paragraphs
          input#paragraphs(type="number", v-model="paragraphs")

        label Additional Options
        input#article(type="checkbox", v-model="isArticle")
        label.label-inline(for="article") Content for an Article

  .container-readable
    .section
      h2.h3 How to Generate Dummy Text?
      ul.divider
        li With this tool, you can generate dummy text in plain text, markdown and html formats.
        li Select the Generator such as 'Lorem Ipsum' or 'Blocks' from the dropdown.
        li Specify the number of words and the number of paragraphs you want to be generated.
        li The tool will generate content close to the number of words specified by you.
        li You can turn on the article mode which will add article like heading, lists etc. in the dummy content.
        li Once you are satisfied with the dummy content, you can switch tab between plain text, markdown and html to copy the content.
        li 'Blocks' generated dummy content is useful in language neautral UI mockups.
        li We do not store any of the content you create and everything is done inside your browser.
    .section.text-small
      h2.h3 Credits
      ul.divider      
        li
          a(href='https://github.com/lukehaas/getlorem', target='_blank') getlorem
          |  - A universal module for generating Lorem Ipsum placeholder text
        li
          a(href='http://vuejs.org/', target='_blank') vue.js
          |  - The Progressive JavaScript Framework
        li
          a(href='https://github.com/chjj/marked', target='_blank') marked
          |  - A fast markdown parser and compiler
        li
          a(href='https://highlightjs.org/', target='_blank') highlight.js
          |  - Syntax highlighting for the Web
        li
          a(href='https://github.com/beautify-web/js-beautify', target='_blank') js-beautify
          |  - Beautifier for javascript, HTML and CSS
        li
          a(href='https://mmcss.kunruchcreations.com/', target='_blank') MMCSS
          |  - A minimal modern CSS framework for building beautiful websites
