---
title: 'Dummy Text Generator'
description: 'Generate Dummy text lorem ipsum and alternatives in HTML, markdown and plain text'
layout: 'tools'
styles:
  - 'styles/dummy-text.css'
scripts:
  - 'scripts/lorem.js'
  - 'https://unpkg.com/marked@0.3.6'
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'scripts/dummy-text.js'
---

#app.container.section-medium
  .grid
    .one-half
      #dummyText
        .buttonGroup.text-center
          button(v-bind:class="[type === 'plain' ? 'button' : 'button-ghost']" @click="type = 'plain'") Plain Text
          button(v-bind:class="[type === 'markdown' ? 'button' : 'button-ghost']" @click="type = 'markdown'") Markdown
          button(v-bind:class="[type === 'html' ? 'button' : 'button-ghost']" @click="type = 'html'") HTML
        .container-readable
          div(v-html='loremText')
    .one-half
      #controls
        label(for="generator") Generator
          select#generator(v-model="generator", ref="generatorSelect")
            option(value='lorem') Lorem Ipsum
            option(value='blocks') Blocks

        label(for="words") Number of Words
          input#words(type="number", v-model="words")
        
        label(for="paragraphs") Number of Paragraphs
          input#paragraphs(type="number", v-model="paragraphs")

        label Additional Options
        input#article(type="checkbox", v-model="isArticle")
        label.label-inline(for="article") Make it look like an Article
