#app {
  @media (min-width: 980px) {
    .one-half:first-child {
      width: 70%;
      margin-right: 3%;
    }
    
    .one-half:last-child {
      width: 27%;
    }
  }
}

#gradient {
  width: 100%;
  height: 500px;
  height: 80vh;
  position: relative;
}

label {
  color: #898989;
  font-weight: 400;
  font-size: 90%;
  position: relative;
  display: block;
  
  @media (min-width: 980px) {
    &:first-child {
      margin-top: 0;
    }
  }

  > * {
    color: #676767;
    margin: 12px 12px 24px 0;
  }

  &.label-inline {
    color: #676767;
    margin: 12px 12px 0 0;
  }

  &.color input {
    width: 87%;
    display: block;
  }

  .colorPreview {
    position: absolute;
    display: block;
    content: "";
    margin: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 10%;
    border-radius: 3px;
  }

  .button-ghost {
    margin: 0;
    font-size: 80%;
    margin-left: 1rem;
  }

  .button {
    margin: 0;
  }
}

#cssOutput {
  padding: 0;
}

.hljs {
  background: #fafafa;
  padding: 1em;
  border-radius: 3px;
}

#gradientDownload .button {
  margin-right: 6px;
}