extends ./_layouts/_layout-main.pug
include ./_includes/_mixins.pug

block vars
  - var title = 'Tools for Developers'
  - var description = 'Free Tools for Web and App Developers by Super Dev Resources Team'

block content
    div.main
      div.container-readable
        div.sdr-submenu.section
          a.button.button-primary All
          a.button.button-ghost
            include ./_includes/_brush.svg              
            | Design
          a.button.button-ghost
            include ./_includes/_code.svg              
            | Development
          a.button.button-ghost
            include ./_includes/_bullhorn.svg              
            | Marketing
        ul.tools-list
          +tool-item('image-cropper', 'crop', 'Image Cropper')
