extends ./../_layout.jade
include ./../_mixins.jade

block canonical
  +canonical('image-cropper')

block title
  +title('Image Cropper Online')
  
block description
  meta(name='description', content='Free Online Image Cropping Tool using HTML Canvas by Super Dev Resources Team')
  
block styles
  +vendor-css('cropperjs/cropper.min.css')
  +style('image-cropper')

block pagetitle
  h1 Image Cropper

block content
  div(class='uk-container uk-container-center')
    #tools    
      .section
        h3.section-title Image Dimesions
        p
          | Height: 
          span#img-height 0
          | px
          br
          |         Width: 
          span#img-width 0
          | px
        button#select-all(type='button', class='uk-button') Select All
      .section
        h3.section-title Aspect Ratio
        form.uk-form(name='aspectform')
          input(type='radio', name='aspectratio', value='Free', checked='')
          |  Free
          input(type='radio', name='aspectratio', value='16:9')
          |  16:9
          input(type='radio', name='aspectratio', value='4:3')
          |  4:3
      .section
        h3.section-title Download
        button#jpg-download(type='button', class='uk-button uk-button-success uk-margin-small-right') JPG
        button#png-download(type='button', class='uk-button uk-button-primary') PNG
      .section
        h3.section-title Instructions
        ul
          li Drag and drop image from your local system to the canvas in the left
          li Use the Aspect Ratio options to choose aspect ratio of Crop Tool
          li You can increase the Crop Tool size by dragging the corners and edges
          li Move the crop tool by holding the mouse button over it and dragging
          li Once you have selected the desired area, choose to export either JPG (optimized for small size) or PNG (high-quality)
          li Cropped image will open in a new tab of your browser. Right click and do "Save As" to save the cropped image.
    #drop-target
      img#myimage

block scripts
  +vendor-script('cropperjs/cropper.min.js')
  +script('image-cropper')
