extends ./../_layout.jade
include ./../_mixins.jade

block canonical
  +canonical('image-cropper')

block title
  +title('Image Cropper')
  
block description
  meta(name='description', content='Free Online Image Cropping Tool using HTML Canvas by Super Dev Resources Team')

block pagetitle
  h1 Image Cropper

block content
