---
title: 'Linear Gradient Generator'
description: 'Generate Leniear Gradient CSS and Background Images with custom configuration options. Get CSS code or JPG, PNG image.'
layout: 'tools'
styles:
  - 'styles/linear-gradient.css'
scripts:
  - 'scripts/linear-gradient.js'
---