---
title: 'Linear Gradient Generator'
description: 'Generate Leniear Gradient CSS and Background Images with custom configuration options. Get CSS code or JPG, PNG image.'
layout: 'tools'
styles:
  - 'styles/linear-gradient.css'
scripts:
  - 'https://unpkg.com/vue@2.0.3/dist/vue.js'
  - 'scripts/linear-gradient.js'
---

#app.container.section-medium
  .grid
    .one-half
        #linear-gradient(:style="gradient")
    .one-half
      label(for="primaryColor") Primary Color
      input#primaryColor(type="text", v-model="primaryColor")
      label(for="secondaryColor") Secondary Color
      input#secondaryColor(type="text", v-model="secondaryColor")
      label(for="direction") Direction
      select#direction(v-model="direction")
        option(value=0) Top to Bottom (0°)
        option(value=45) Top-Right to Bottom-Left (45°)
        option(value=90) Right to Left (90°)
        option(value=135) Bottom-Right to Top-Left (135°)
        option(value=180) Bottom to Top (180°)
        option(value=-135) Bottom-Left to Top-Right (-135°)
        option(value=-90) Left to Right (-90°)
        option(value=-45) Top-Left to Bottom-Right (-45°)
