doctype html
html(lang='en-US')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    block title
    block description
    block canonical
    link(href='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/css/uikit.almost-flat.min.css', rel='stylesheet')
    link(href='/tools/css/main.css', rel='stylesheet')
    link(rel='icon', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-32x32.png', sizes='32x32')
    link(rel='icon', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-192x192.png', sizes='192x192')
    link(rel='apple-touch-icon-precomposed', href='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-180x180.png')
    meta(name='msapplication-TileImage', content='https://superdevresources.com/wp-content/uploads/2016/01/cropped-superdev-logo-270x270.png')
  body
    div(class='tools-head')
      a(href='/', class='head-logo uk-align-left uk-hidden-small', rel='home')
        img.tm-logo(src='https://superdevresources.com/wp-content/uploads/2016/01/super-dev-resources-logo.png', alt='Super Dev Resources Tools', scale='0')
      a(href='/tools/', class='head-home uk-align-right')
        i(class='uk-icon-th-large') 
        span Tools
      block pagetitle
    block content
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/2.24.3/js/uikit.min.js')
