extends ./_layout.jade
include ./_mixins.jade

block canonical
  +canonical('')

block title
  +title('Tools')
  
block description
  meta(name='description', content='Free Tools for App and Web Developers by Super Dev Resources Team')

block pagetitle
  h1 Super Dev Tools

block content
  div(class='uk-block tools-content')
    div(class='uk-container uk-container-center')
      ul(class='uk-grid tools-list', data-uk-grid-margin)
        +tool('image-cropper', 'crop', 'green', 'Image Cropper')
        +tool('#', 'wrench', 'gray', 'Coming Soon..')        
        +tool('#', 'wrench', 'gray', 'Coming Soon..')


block scripts
  +jquery-script
  +uikit-script
