extends ./_layout.jade
include ./_mixins.jade

block vars
  - var title = 'Tools'
  - var description = 'Free Tools for App and Web Developers by Super Dev Resources Team'
  - var slug = ''
  - var ogimage = 'sdr-tools-featured.png'

block pagetitle
  h1 
    | Super Dev Tools

block content
    div(class='uk-container uk-container-center')
      ul(class='uk-grid uk-grid-medium tools-list', data-uk-grid-match="{target:'.uk-panel'}", data-uk-grid-margin)
        +tool('image', 'red', 'Design Tools')
          ul
            +tool-item('image-cropper', 'crop', 'Image Cropper')
        +tool('code', 'lavender', 'Development Tools')
        +tool('bullhorn', 'green', 'Marketing Tools')

block scripts
  +jquery-script
  +uikit-script
