extends ./../../../common/_layouts/_layout-tools.pug

block vars
  - var title = 'Image to Base64 Encoder'
  - var description = 'Convert Image to base64 string online for use in HTML img tag and in CSS files as data URI.'

block styles
  link(href='https://unpkg.com/cropperjs@0.5.6/dist/cropper.min.css', rel='stylesheet')  
  link(href='styles/image-cropper.css', rel='stylesheet')

block pagetitle
  span.hidden-mobile Image to Base64

block content