extends ./../../../common/_layouts/_layout-tools.pug

block vars
  - var title = 'Image to Base64 Encoder'
  - var description = 'Convert Image to base64 string online for use in HTML img tag and in CSS files as data URI.'

block styles
  link(href='styles/base64-image.css', rel='stylesheet')

block pagetitle
  span.hidden-mobile Image to Base64

block content
  #drop-target
    .container-readable
      .section
        #result-area.card.animated.fadeIn
          h2.h4.card-title Base64 Encoded Image
          .card-body
            textarea#base64-out(rows="5" readonly="readonly")
      #click-target
        input(type='file' id="fileUpload")
        #load-prompt Drag and Drop image anywhere or Click here
      #canvas-container
        canvas#canvas
      .section
        .card
          h2.h3.card-title Instructions
          .card-body
            ul.divider
              li Drag and drop image from your local system to the canvas above
              li Use the Aspect Ratio options to choose aspect ratio of Crop Tool
              li You can increase the Crop Tool size by dragging the corners and edges
              li Move the crop tool by holding the mouse button over it and dragging                    
              li Once you have selected the desired area, choose to export either JPG (optimized for small size) or PNG (high-quality)
              li If the cropped image opens in a new tab, instead of downloading, right click and do "Save As" to save the cropped image.
              li We do not store your images as everything is done client side.

block scripts
  script(src='scripts/base64-image.js')