---
title: 'Image to Base64 Encoder'
description: 'Convert image (jpg, png, svg) to base64 string online for use in HTML img tag and in CSS files as data URI.'
layout: 'tools'
styles:
  - 'styles/base64-image.css'
scripts:
  - 'scripts/base64-image.js'
---

#drop-target
  .container-readable
    .section
      #result-area.animated.fadeIn
        h2.h4 Base64 Encoded Image
        textarea#base64-out(rows="5" readonly="readonly")
    #click-target
      input(type='file' id="fileUpload")
      #load-prompt Drag and Drop image anywhere or Click here
    #canvas-container
      canvas#canvas
    .section-medium
      h2.h3 How to Convert Image to Base64?
      ul.divider
        li Drag and drop image from your local system to the canvas above for converting to Base64.
        li Resulting <a href="https://en.wikipedia.org/wiki/Base64">Base64</a> string will appear above once the image is loaded.
        li Base64 encoding is done as data:image/png for png images.
        li For all other image types such as .jpg, .ico, .svg, .gif, .bpm etc. encoding is done as data:image/jpeg.
        li It is recommended to convert only small size images to Base64 string.
        li Note that Internet Explorer 8 has a limit of 32 KB for <a href="http://en.wikipedia.org/wiki/Data_URI_scheme">data URI</a>. Earlier versions have no support for it.
        li If you need to crop the image before converting then use the <a href="https://tools.superdevresources.com/image-cropper/">Image Cropper</a>.
        li We do not store any of your images as everything is done client side.