.tools-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border: 1px solid $color-default-border;

  li {
    padding: 16px 24px;
  }

  .entry-title {
    margin: 0;
  }
}


@media (max-width: $size-small-screen) {
  .entry-title {
    font-size: 19px;
  }
}